h1,h2{

  font-size: $font-size-title;
  margin:10px 0;
  font-weight: bolder;
}
p{
  font-size:$font-size-p;
  margin-bottom:10px;
}
.leading-content{
    font-size: $font-size-plarge;
  }
.btn{
  &.btn-primary{
    background-color:$button-brown;
    border:$button-brown;
    &:hover{
      background-color: $button-brown-dark;
    }
  }
  
}

.note {
    &-red{
      color:$note-red;
      }
    &-yellow{
      color:$note-yellow;
    }
    &-dark{
      font-weight:bolder;
    }
  }
.themed-grid-col{
  padding-top: 15px;
  padding-bottom: 15px;
  background:$theme-gray;
  border: 1px solid $theme-border-gray;
}
