$font-size-p:16px;
$font-size-plarge:20px;
$font-size-title:36px;

$note-red:#e83e8c;
$note-yellow:#ffc420;

$button-brown: #916000;
$button-brown-dark:#352402;
$theme-gray:rgba(86, 61, 124, 0.15);
$theme-border-gray:rgba(86, 61, 124, 0.2);