html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*start*/
.container {
    margin: 0 auto;
    max-width: 940px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 ;
    position: relative;
}

.header .burger-menu {
    display: none;
}

.header .logophone {
    display: none;
}

.nav-list {
    display: flex;
}
.navbar{
    display: flex;
    
}
.nav-item {
    
    color: #3F5D45;
    line-height: 1.5;
}

.nav-item a {
    padding: 0 30px;
    font-size: 16px;
    font-weight: bolder;
    color: #3F5D45;
    text-decoration: none;
}

.navbar a img {
    padding: 0 30px;
    text-decoration: none;
}

.nav-item:hover {
    border-bottom: 1px solid #3F5D45;
}

.banner-img {
    margin-bottom: 20px;
}

.product {
    display: flex;
}

.slidebar {
    font-size: 24px;
    width: 35%;

}

.slide-item {
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
}

.slide-item:hover {
    background-color: #EAF0ED;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    text-align: center;
    line-height: 40px;
}

.slide-item a {
    text-decoration: none;
    color: inherit;
    padding:12px;
    display:block;
}

.slide-item-activef {
    padding:12px;
    background-color: #3F5D45;
    color: #EAF0ED;
    text-align: center;
}

.slide-item-activef a {
    text-decoration: none;
    color: inherit;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.menu-item {
    position: relative;
    width: 46%;
    margin-left: 4%;
    margin-bottom: 20px;
}

.menu-item .fav img {

    position: absolute;
    right: 22px;
    top: 19px;
    width: 7%;
}

.menu-item .tag {
    position: absolute;
    writing-mode: vertical-lr;
    left: 40px;
    top: 0;
    color: #EAF0ED;
    background-color: #3F5D45;
    padding: 15px 10px;
    letter-spacing: 3px;
}

.detail {
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    border: 1px solid #EAF0ED;
    color: #3F5D45;
    font-size: 20px;
}

.detail .product-name {
    border-right: 1px solid #EAF0ED;
    padding-right: 30px;

}

.add-cart {
    width: 100%;
    border: 1px solid #EAF0ED;
    color: #3F5D45;
    background-color: #EAF0ED;
    text-align: center;
    line-height: 65px;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 16px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: #3F5D45;
    color: #EAF0ED;
}

.pagelist {
    display: flex;
    justify-content: flex-end;

}

.pagelist li {
    display: flex;
    align-items: center;
    border: 0.5px solid #EAF0ED;
    font-size: 20px;
    color: #3F5D45;   
    justify-content: center;
}

.pagelist li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding:25px;
}


.pagelist li:hover {
    background-color: #3F5D45;
    color: #EAF0ED;
}

.pagelist .arrow:hover {
    background-color: white;
    border: 0.5px solid black;
}
.pagelist img{
    max-width: fit-content;
}
.contact {
    background-color: #3F5D45;
    margin-top: 20px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 0;
}

.subscribe .title,
.subscribe .form {
    display: flex;
    align-items: center;

}

.title p {
    color: #EAF0ED;
    font-size: 24px;
    padding-left: 20px;
    line-height: 1.5;;
}

.title img {
    width: 40px;
    height: 40px;
}

.mail {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 8%;
    background-color: #EAF0ED;
    float: left;
    height: auto;
    padding: 16px 60px;
    line-height: 24px;
    border: none;
}

.submit {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 50%;
    float: left;
    border: none;
    line-height: 16px;
    background-color: #FFE180;
    padding: 20px 24px;
    cursor: pointer;
}

.footer {
    background-color: #EAF0ED;
}

.information {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
}

.information .leftside {
    display: flex;
    width: 50%;
    flex-direction: column;
    line-height: 1.5;
    color: #3F5D45;
}

.leftside .logo img {
    width: 171px;
    height: 27px;
}

.leftside .social img {
    width: 32px;
    height: 32px;
}

.leftside .social {
    display: flex;
}

.leftside .logo {
    padding-top: 20px;
    padding-bottom: 110px;
}

.leftside .social img {
    padding-top: 20px;
    padding-right: 10px;
}

.information .rightside {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
    color: #3F5D45;
}

.rightside .text {
    writing-mode: vertical-rl;
    line-height: 1.5;
    font-size: 22px;
    padding: 20px 0;
    font-weight: bolder;
}

@media (max-width: 1024px) {

    .container {
        max-width: 750px;
    }

    .subscribe {
        width: 90%;
    }

    .information {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .container {
        width: 85%;
    }

    .header .logopc {
        width: 35%;
    }

    .nav-item a {
        padding: 0 20px;
    }

    .slidebar {
        font-size: 20px;
    }

    .menu {
        margin: 0 auto;
    }

    .menu-item {
        width: 100%;
    }

    .product-img {
        width: 100%;
    }

    .subscribe {
        flex-direction: column;
        width: 85%;
    }

    .subscribe .title,
    .subscribe .form {
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }

    .information {
        width: 85%;
    }

}

@media (max-width: 584px) {
    .header {
        justify-content: space-around;
        height: 70px;
    }

    .header .logopc {
        display: none;
    }

    .header .logophone {
        display: grid;
        width: 45%;
        height: auto;
    }
    .navbar .nav-list{
        opacity: 0;
        position: absolute;
        top:50%;
        left:0;
    }
    .navbar .active{
        display: flex;
        
        opacity: 1;
        flex-direction: column;
        
        left: 0;
        top: 100%;
        background-color: white;
        transition: all 0.8s;
        overflow: hidden;
        background: white;
        flex-direction: column;
        z-index:2;   
        max-width:560px;
        width:100%;
        text-align: center;
    }
    .nav-item:hover{
        background-color:#EAF0ED;
        outline: none;
    }
    .nav-item a{
        line-height: 3;
        padding: 0 100px;
    }
    .header .burger-menu {
        display: block;
        opacity: 1;
        padding: 20px;
        width: 20%;
        height: auto;
        cursor: pointer;
        background: transparent;
        border:transparent;
        outline: none; 
        
    }

    .product {
        display: block;
    }

    .slidebar {
        width: 100%;
        padding: 20px;
        font-size: 20px;
    }

    .menu {
        margin: 0 auto;
    }

    .menu-item {
        width: 100%;
    }

    .product-img {
        width: 100%;
    }

    .pagelist {
        width: 60%;
        margin: 0 auto;
    }

    .pagelist li {
       padding:20px;

    }

    .subscribe {
        flex-direction: column;
    }

    .subscribe .title,
    .subscribe .form {
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }

    .information {
        display: block;
        width: 70%;
    }

    .information .rightside .text {
        display: none;
    }

    .leftside .logo {
        padding-bottom: 50px;
    }

    .rightside p {
        padding-top: 20px;
    }

    .information .rightside,
    .information .leftside {
        display: block;
        width: 100%;
    }

}
