//layout header contact footer

.container {
  margin: 0 auto;
  max-width: 940px;

  @include smallpc{
    max-width:750px;
  }
  @include pad{
    width:80%;
  }
}
//header標頭

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: relative;
  .burger-menu {
    display: none;

    @include mobile{
        display: block;
        padding-right:10px;
        cursor: pointer;
        background: transparent;
        border:transparent;
        outline: none; 
    }
  }

  .logo {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
    display: block;
    width: 40%;
    height: 40px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;

    @include mobile{
        background-image:url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg");
        height: 20px;
    }
  }

}

.navbar{
  display: flex;
  align-items: baseline;

  
  .fa-shopping-cart{
    padding: 0 30px;
    text-decoration: none;
    color:#3F5D45;

    @include mobile{
      padding:0 10px;
    }
    @include smallmobile{
        max-width:40%;
    }
  
  }

  .nav-list {
    display: flex;
    

    @include  mobile{
      opacity: 0;
      position: absolute;
      top: 70%;
      left: 0;
    }
    .nav-item {
      padding:0 10px;
      color: #3F5D45;
      line-height: 1.5;

      @include pad{
        padding: 0 5px;
        
      }
      &:hover{
        @include mobile{
          background-color:#EAF0ED;
          outline: none;
          text-decoration: none;
          
        }
      }

      a {
        padding: 10px 15px;
        font-size: $font-size-base;
        font-weight: bolder;
        color: #3F5D45;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid #3F5D45;
        }

        @include pad{
          padding: 10px;
        }
        @include mobile{
          padding:12px 0;
          display: block;
        }
      }

    }
  }
  .active{

   // @include mobile{
    max-height: 200px;
    display: flex;
    opacity: 1;
    flex-direction: column;
    left: 0;
    top: 100%;
    background-color: white;
    transition: all 0.8s;
    overflow: hidden;
    background: white;
    flex-direction: column;
    z-index: 2;
    max-width: 560px;
    width: 100%;
    text-align: center;
  }
  }

//contact

.contact {
  background-color: #3F5D45;
  margin-top: 20px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 0;

  
  @include smallpc{
    width:90%;
  }
  @include pad{
    flex-direction: column;
    width: 85%;
  }

  .title {
    white-space: nowrap;
    display: flex;
    align-items: center;

    @include pad{
      justify-content: center;
      padding: 10px 0;
    }


    p {
      color: #EAF0ED;
      font-size: $font-size-large;
      padding-left: 20px;
      line-height: 1.5;;
    }
    img {
      width: 40px;
      height: 40px;
    }
    

  }
  form{
    display: flex;
    align-items: center;
    @include pad{
      justify-content: center;
      padding: 10px 0;
    }

    .mail {
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png);
      background-repeat: no-repeat;
      background-position: 5% 50%;
      background-size: 8%;
      background-color: #EAF0ED;
      float: left;
      height: auto;
      padding: 16px 60px;
      line-height: 24px;
      border: none;
    }
    .submit {
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: 50% 50%;
      float: left;
      border: none;
      line-height: 16px;
      background-color: #FFE180;
      padding: 20px 24px;
      cursor: pointer;
    }
  
  }


}






//footer頁尾

.footer {
  background-color: #EAF0ED;

  .information {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    white-space: nowrap;

    @include smallpc{
      width:90%;
    }
    @include pad{
      width:85%;
    }
    @include mobile{
        display: block;
        width: 70%;
    }

    .infor-detail {
      width: 50%;
      line-height: 1.5;
      color: #3F5D45;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile{
        display: block;
        width: 100%;
      }

      .logo {
        width: 171px;
        height: 27px;
        padding-top: 20px;
        padding-bottom: 110px;

        @include mobile{
            padding-bottom: 50px;
        }
        

      }

      .social {
        display: flex;
      }
      .line,.fb{
        width: 32px;
        height: 32px;
        padding-top: 20px;
        padding-right: 10px;
      }

    }

  }

  .slogan {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
    color: #3F5D45;
    white-space: nowrap;

    @include mobile{
        display: block;
        width: 100%;
    }
    .text {
      writing-mode: vertical-rl;
      line-height: 1.5;
      font-size: $font-size-large;
      padding: 20px 0;
      font-weight: bolder;

      @include mobile{
        display: none;
      }
    }
    .patent{
      @include mobile{
        padding-top: 20px;
        font-size: small;
      }
    }
  }

}







