$white:white;
$black:black;
$green:#3F5D45;
$green-light:#EAF0ED;
$orange:#FFE180;

$font-size-base : 16px;
$font-size-medium : ceil(($font-size-base * 1.25)); //20px
$font-size-large: ceil(($font-size-base * 1.5)); //24px

