/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.header .burger-menu {
  display: none;
}

.header .logo {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg");
  display: block;
  width: 40%;
  height: 40px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  @meida (max-width:);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-list .nav-item {
  padding: 0 10px;
  color: #3F5D45;
  line-height: 1.5;
}

.navbar .nav-list .nav-item a {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bolder;
  color: #3F5D45;
  text-decoration: none;
}

.navbar .nav-list .nav-item img {
  padding: 0 30px;
  text-decoration: none;
}

.navbar .nav-list .nav-item :hover {
  border-bottom: 1px solid #3F5D45;
}

.contact {
  background-color: #3F5D45;
  margin-top: 20px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 0;
}

.subscribe .title, .subscribe .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .title p {
  color: #EAF0ED;
  font-size: 24px;
  padding-left: 20px;
  line-height: 1.5;
}

.subscribe .title img {
  width: 40px;
  height: 40px;
}

.subscribe .form .mail {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 8%;
  background-color: #EAF0ED;
  float: left;
  height: auto;
  padding: 16px 60px;
  line-height: 24px;
  border: none;
}

.subscribe .form .submit {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  float: left;
  border: none;
  line-height: 16px;
  background-color: #FFE180;
  padding: 20px 24px;
  cursor: pointer;
}

.subscribe .title,
.subscribe .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title p {
  color: #EAF0ED;
  font-size: 24px;
  padding-left: 20px;
  line-height: 1.5;
}

.title img {
  width: 40px;
  height: 40px;
}

.mail {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/mail-24px.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 8%;
  background-color: #EAF0ED;
  float: left;
  height: auto;
  padding: 16px 60px;
  line-height: 24px;
  border: none;
}

.submit {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/arrow_forward-24px.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  float: left;
  border: none;
  line-height: 16px;
  background-color: #FFE180;
  padding: 20px 24px;
  cursor: pointer;
}

.footer {
  background-color: #EAF0ED;
}

.information {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.information .infor-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  color: #3F5D45;
}

.infor-detail .logo img {
  width: 171px;
  height: 27px;
}

.infor-detail .social img {
  width: 32px;
  height: 32px;
}

.infor-detail .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infor-detail .logo {
  padding-top: 20px;
  padding-bottom: 110px;
}

.infor-detail .social img {
  padding-top: 20px;
  padding-right: 10px;
}

.information .slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #3F5D45;
}

.slogan .text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.5;
  font-size: 24px;
  padding: 20px 0;
  font-weight: bolder;
}
/*# sourceMappingURL=all.css.map */